*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Times,serif;
    color: white;
    background-color: black;
}
.container{
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0px 2rem;
}
.header{
    padding: 2rem;
    margin: 1rem 0px;
    text-align: center;
}
.header > .title{
    margin-bottom: 1rem;
}
.tribute{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0px auto;
    background: white;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 1rem;
}
.tribute blockquote{
    text-align: center;
    font-size: 3rem;
}
.tribute img{
    max-width: 100%;
}
.bio{
    margin: 2rem auto;
    padding: 0px 0.5rem;
    max-width: 40rem;
}
.bio > h2{
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
}
.bio > p{
    font-size: 1.2rem;
    line-height: 1.4;
}

.bio> hr{
    margin-top: 2rem;
}
.about{
    margin: 2rem auto;
    padding: 0px 0.5rem;
    max-width: 40rem;
}
.about > h2{
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
}
.about > p{
    font-size: 1.2rem;
    line-height: 1.4;
}

.about> hr{
    margin-top: 2rem;
}

/*--records--*/
#records{
    padding: 0px 0;
    color: #ababab;
}
.container2{
    padding: 10px 10%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 80%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: white;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}
